

body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #a8d15d;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    background-color: #ddd;
    width: 700px;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen {
    background-color: #fff;
    width: 520px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.time {
    height: 100px;
    width: 520px;
    margin: 0 auto;
}

.back, .fore {
    display: block;
    width: 520px;
    height: 100px;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.fore .hour, .fore .minute, .fore .second,
.back .hour, .back .minute, .back .second {
    display: inline-block;
    width: 120px;
    height: 100px;
    font-size: 8em;
    font-family: 'Digital-7';
}

.back .hour, .back .minute, .back .second {
    color: #ddd;
}

.fore .hour, .fore .minute, .fore .second  {
    color: #1e1f29;
}

.separator {
    height: 100px;
    font-size: 8em;

    color: #1e1f29;
    font-family: 'Digital-7';
}

.buttons {
    height: 25%;
    width: 520px;
    display: flex;
    justify-content: space-between;
}

button {
    all: unset;

    background-color: #1b2b34;
    color: #a8d15d;
    padding: 20px 30px;
    align-self: flex-end;
    font-family: 'sans-serif';
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

