
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: aliceblue;

    display: flex;
    flex-direction: column;
    justify-content: center; 
}

/******************* CLOCK*/
.clock {
    width: 700px;
    margin: 0 auto;
    background-color: #2e4384;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/******************* SCREEN*/
.screen {
    width: 600px;
    background-color: #3c56aa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/******************* DAYS*/
.days {
    width: 300px;
    background-color: #556fc3;
    display: flex;
    justify-content: center;
}

.days p {
    background-color: #7b8fd1;
    border: 1px solid #c6cfeb;
    box-sizing: border-box;
    display: inline-block;
}

/******************* TIME*/
.time {
    background-color: #556fc3;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 200px;
}

.back, .fore {
    background-color: #7b8fd1;
    border: 1px solid #c6cfeb;
    /* box-sizing: border-box; */
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fore {
    position: absolute;
}

.back *, .fore * {
    background-color: #a1afde;
    border: 1px solid #c6cfeb;
    box-sizing: border-box;
}

/******************* BUTTONS*/
.buttons {
    width: 300px;
    background-color: #556fc3;
    display: flex;
    justify-content: center;
}

#theme {
    all: unset;

    width: 100px;
    background-color: #a1afde;
}