
body {
    margin: 0;
    padding: 0;
}

.todo {
    color : #1e1e1e;
    position: absolute;
    top: 20px;
}

.todo ul {
    list-style: underline;
}

.container {
    background-color: #a8d15d;
}

.clock {
    background-color: #1b2b34;
}

/******************************** DAYS ***/
.days {
}

.days p {
    color : #1e1e1e;
}

/******************************** THE TIME ***/
.time {
}

.back, .fore {
}

.fore .hour, .fore .minute, .fore .second,
.back .hour, .back .minute, .back .second {
}

.back .hour, .back .minute, .back .second {
    color: #1e1f29;
}

.fore .hour, .fore .minute, .fore .second  {
    color: #ddd;
}

.separator {
    color: #ddd;
}

/******************************** THE STOPWATCH ***/
.stopwatch {
    /*display: none;*/
}

.bg, .fg {
}

.fg .hours, .fg .minutes, .fg .seconds,
.bg .hours, .bg .minutes, .bg .seconds {
}

.bg .hours, .bg .minutes, .bg .seconds {
    color: #1e1f29;
}

.fg .hours, .fg .minutes, .fg .seconds {
    color: #ddd;
}

.separators {
    color: #ddd;
}

/******************************** THE BUTTONS ***/
.buttons {
}

button {
    background-color: #1b2b34;
    color: #aaa;
    box-shadow: 1px 1px  1px 1px #1e1f29;
}

