
body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #a8d15d;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    background-color: #1e1f29;
    width: 700px;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen {
    background-color: #1b2b34;
    width: 520px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.time {
    width: 520px;
    position: relative;
    margin: 0 auto;

}

.back {
    display: block;
    width: 520px;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.fore .hour, .fore .minute, .fore .second {
    color: #1e1e1e;
}

.fore {
    display: block;
    width: 520px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hour, .minute, .second {
    display: inline-block;
    width: 120px;
    font-size: 8em;
    color: #a8d15d;
    text-shadow: 5px 5px 5px #1e1f29;
    font-family: 'Digital-7';
}

.separator {
    width: 40px;
    display: inline-block;
    font-size: 8em;
    color: #a8d15d;
    /*text-shadow: 5px 5px 5px #1e1f29;*/
    font-family: 'Digital-7';
    text-align: center;
}

.buttons {
    height: 25%;
    width: 530px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

button {
    all: unset;

    background-color: #1b2b34;
    color: #a8d15d;
    padding: 20px 30px;
    font-family: 'sans-serif';
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
